<div class="card">
  <div class="card-header">
    <%= render :partial => 'films/search_form' %>
  </div>
  <div class="card-body">
    <table class="table table-stripped table-bordered table-hover">
      <% @films.each do |film| %>
        <%= render film %>
      <% end %>
      <nav><%= paginate @films %></nav>
    </table>
  </div>
</div>
